@use "variables" as *;

// media query
@mixin mq($key) {
  $size: map-get($breakpoints, $key);

  @if ($size) {
    @media (width > $size) {
      @content;
    }
  } @else {
    @error '`#{$key}` does not exist in the $breakpoints';
  }
}

// line clamp
@mixin line-clamp($row-number) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $row-number;
  overflow: hidden;
}

@mixin heading-xl() {
  font-size: var(--fs-heading-xl);
  font-weight: var(--fw-bold);
  line-height: var(--lh-heading-xl);
  letter-spacing: var(--ls-heading-xl);
}

@mixin heading-l() {
  font-size: var(--fs-heading-l);
  font-weight: var(--fw-bold);
  line-height: var(--lh-heading-l);
  letter-spacing: var(--ls-heading-l);
}

@mixin heading-m() {
  font-size: var(--fs-heading-m);
  font-weight: var(--fw-bold);
  line-height: var(--lh-heading-m);
}

@mixin body-l() {
  font-size: var(--fs-body-l);
  font-weight: var(--fw-medium);
  line-height: var(--lh-body-l);
}

@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1100px) {
    @content;
  }
}

.form-group {
  position: relative;

  .error-icon {
    position: absolute;
    right: 8px;
    top: 4px;
    color: var(--clr-red);
    display: none;
  }

  .error-msg {
    position: absolute;
    bottom: -1.2rem;
    right: 0;
    color: var(--clr-red);
    font-size: 12px;
    font-weight: 500;
    font-family: var(--ff-primary);
    display: none;
  }

  input:invalid:not(:placeholder-shown) ~ .error-icon,
  input:invalid:not(:placeholder-shown) ~ .error-msg {
    display: block;
  }
}

@mixin input {
  padding-bottom: 16px;
  padding-left: 24px;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  border-bottom: 1px solid var(--clr-lightwhite);
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.22px;
  font-weight: 500;
  width: 100%;

  &::placeholder {
    text-transform: uppercase;
  }

  &:valid:not(:placeholder-shown) {
    border-color: var(--clr-green);
  }

  &:invalid:not(:placeholder-shown) {
    border-color: var(--clr-red);
  }

  &:placeholder-shown {
    border-color: var(--clr-lightwhite);
  }
}

@mixin textarea {
  @include input();
  padding-bottom: 80px;

  resize: none;
}
