@use "../abstracts/" as *;

.container {
  padding-inline: 1rem;

  @include tablet() {
    padding-inline: 2rem;
  }
}

.text-highlight {
  border-bottom: 3px solid var(--clr-green);
}

.bg-gray {
  background-color: var(--clr-gray);
}
