@use "../abstracts" as *;

.button {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border-bottom: 2px solid var(--clr-green);
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  display: inline-block;
  letter-spacing: 2.29px;
  &:hover {
    color: var(--clr-green);
    cursor: pointer;
  }
}
