body {
  font-family: var(--ff-primary);
  font-size: var(--fs-body-l);

  background-color: var(--clr-black);
  color: var(--clr-white);
  font-weight: var(--fw-medium);
}

h1,
h2,
h3 {
  line-height: 1.1;
}
