@use "../abstracts" as *;

.skills {
  padding-bottom: 80px;
  overflow: hidden;
  padding-inline: 1rem;

  @include tablet() {
    padding-bottom: 100px;
  }
  @include desktop() {
    padding-bottom: 140px;
  }
}

.skills__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  padding-top: 40px;
  border-top: 1px solid var(--clr-white);
  gap: 24px;
  border-bottom: 1px solid var(--clr-white);
  position: relative;
  max-width: 425px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;

  &::after {
    content: "";
    background-image: url("/lines.svg");
    position: absolute;
    bottom: -65px;
    right: -344px;
    width: 530px;
    height: 129px;
  }

  @include tablet() {
    max-width: 768px;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: none;
    padding-bottom: 0;
  }

  @include desktop() {
    max-width: 1100px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.skills__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

  @include tablet() {
    align-items: start;
  }
}

.skills__h3 {
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -1px;
}

.skills__p {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 26px;
  color: var(--clr-lightwhite);
}

// Projects

.projects {
  padding-bottom: 80px;
  position: relative;

  max-width: 425px;
  margin-inline: auto;

  @include tablet() {
    max-width: 768px;
  }

  @include desktop() {
    max-width: 1100px;
  }
}

.projects__h2 {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -1.14px;
  font-weight: bold;
  margin-bottom: 40px;
}
.projects__cta-container {
  position: absolute;
  right: 0;
  top: 0;
}

.projects__image-wrapper {
  position: relative;

  &:hover .projects__img {
    opacity: 0.2;
  }

  &:hover .projects__btn-wrapper-desktop {
    opacity: 1;
  }
}

.projects__btn-wrapper-desktop {
  display: none;
  @include desktop() {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    position: absolute;
    left: 201px;
    top: 138px;
    transition: opacity 0.3s ease;
  }
}

.projects__btn-wrapper {
  display: flex;
  gap: 30px;
  @include desktop() {
    display: none;
  }
}

.projects__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 40px;

  @include tablet() {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 60px;
  }
}

.projects__img {
  margin-bottom: 20px;
}
.projects__h3 {
  margin-bottom: 16px;
  @include heading-m();
}

.projects__stack-list {
  margin-bottom: 24px;
  display: flex;
  gap: 16px;
}
.projects__stack-item {
  @include body-l();
  color: var(--clr-lightwhite);
}

// Contact
.contact {
  position: relative;
  &::after {
    content: "";
    background-image: url("/lines.svg");
    position: absolute;
    bottom: 100px;
    left: -365px;
    width: 530px;
    height: 129px;

    @include tablet() {
      bottom: 27px;
    }
    @include desktop() {
      left: -207px;
      bottom: 47px;
    }
  }
}

.contact__section {
  padding-top: 60px;
  padding-bottom: 87px;

  @include tablet() {
    max-width: 445px;
    margin-inline: auto;
  }

  @include desktop() {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    gap: 220px;
    padding-bottom: 92px;
    padding-top: 84px;
  }
}

.contact__wrapper {
  @include desktop() {
    flex-basis: 445px;
  }
}
.contact__h3 {
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -1.14px;
  margin-bottom: 20px;
  text-align: center;

  @include tablet() {
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -2.05px;
  }

  @include desktop() {
    text-align: left;
    @include heading-xl();
    margin-bottom: 36px;
  }
}
.contact__p {
  color: var(--clr-lightwhite);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  margin-bottom: 50px;
  text-align: center;

  @include tablet() {
    @include body-l();
  }

  @include desktop() {
    text-align: left;
  }
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  @include desktop() {
    flex-basis: 445px;
  }
}

.contact__input {
  @include input();
}
.contact__textarea {
  @include textarea();
}

.contact__submit-container {
  display: flex;
}
.contact__submit {
  outline: none;
  margin-left: auto;
  background: none;
  border: none;
}
