.skills {
  border-top: 1px solid var(--clr-white);
  border-bottom: 1px solid var(--clr-white);
  padding-top: 40px;
  padding-bottom: 40px;
}

.skills__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.skills__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.skills__h3 {
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -1px;
}

.skills__p {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 26px;
  color: var(--clr-lightwhite);
}
