@use "../abstracts" as *;

// skills

.skills {
  border-top: 1px solid var(--clr-white);
  border-bottom: 1px solid var(--clr-white);
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 80px;

  @include tablet() {
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 100px;
  }
}

.skills__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  gap: 24px;

  @include tablet() {
    grid-template-columns: repeat(2, 1fr);
  }
}

.skills__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

  @include tablet() {
    align-items: start;
  }
}

.skills__h3 {
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -1px;
}

.skills__p {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 26px;
  color: var(--clr-lightwhite);
}

// Projects

.projects {
  padding-bottom: 80px;
  position: relative;
}

.projects__h2 {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -1.14px;
  font-weight: bold;
  margin-bottom: 40px;
}
.projects__cta-container {
  position: absolute;
  right: 0;
  top: 0;
}

.projects__btn-wrapper {
  display: flex;
  gap: 30px;
}

.projects__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 40px;

  @include tablet() {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 60px;
  }
}

.projects__img {
  margin-bottom: 20px;
}
.projects__h3 {
  margin-bottom: 16px;
  @include heading-m();
}

.projects__stack-list {
  margin-bottom: 24px;
  display: flex;
  gap: 16px;
}
.projects__stack-item {
  @include body-l();
  color: var(--clr-lightwhite);
}

// Contact
.contact {
  padding-top: 60px;
  padding-bottom: 87px;
  border-bottom: 1px solid white;
}
.contact__h3 {
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -1.14px;
  margin-bottom: 20px;
  text-align: center;
}
.contact__p {
  color: var(--clr-lightwhite);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  margin-bottom: 50px;
  text-align: center;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contact__input {
  @include input();
}
.contact__textarea {
  @include textarea();
}

.contact__submit-container {
  display: flex;
}
.contact__submit {
  outline: none;
  margin-left: auto;
  background: none;
  border: none;
}
