@use "../abstracts/" as *;

.footer {
  padding-top: 40px;
  padding-bottom: 60px;

  @include tablet() {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}

.footer__social-media-container {
  width: 154px;
  margin-inline: auto;
  @include tablet() {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__list {
  display: flex;
  justify-content: space-between;
  @include tablet() {
    width: 192px;
  }
}

.footer__title {
  @include heading-m();
  text-align: center;
  margin-bottom: 20px;

  @include tablet() {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.44px;
  }
}

.footer__p {
  font-size: 16px;
  color: var(--clr-lightwhite);
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
}

.footer__cta-container {
  display: flex;
  justify-content: center;
}
