@use "../abstracts/" as *;

.footer {
  padding-top: 40px;
  padding-bottom: 60px;
}

.footer__social-media-container {
  width: 154px;
  margin-inline: auto;
}

.footer__list {
  display: flex;
  justify-content: space-between;
}

.footer__title {
  @include heading-m();
  text-align: center;
  margin-bottom: 20px;
}

.footer__h4 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  letter-spacing: -1.14px;
  margin-bottom: 24px;
}

.footer__p {
  font-size: 16px;
  color: var(--clr-lightwhite);
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
}

.footer__cta-container {
  display: flex;
  justify-content: center;
}
