@use "../abstracts" as *;

.header {
  margin-inline: auto;
  max-width: 425px;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 80px;
  @include tablet() {
    max-width: 768px;
    height: 600px;
    margin-bottom: 60px;
  }

  @include desktop() {
    max-width: 1100px;
  }
}
.header::after {
  content: "";
  background-image: url("/adam.png");
  background-size: cover;
  position: absolute;
  width: 174px;
  height: 383px;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;

  @include tablet() {
    width: 322px;
    height: 600px;
    background-position: bottom;
    top: 0;
    right: 0;
    left: auto;
  }
}

.header__wrapper {
  margin-bottom: 40px;
  padding-top: 20px;
  height: 383px;
  @include tablet() {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    height: auto;
    margin-bottom: 90px;
  }
}

.header__background {
  position: absolute;
  width: 100%;
  top: 0;
  height: 383px;

  @include tablet() {
    height: 600px;
  }
}

.header__background::before {
  content: "";
  background-image: url("/lines.svg");
  position: absolute;
  width: 530px;
  top: 124px;
  height: 129px;
  left: -350px;
  @include tablet() {
    top: 86px;
    left: -285px;
  }
}
.header__background::after {
  content: "";
  background-image: url("/circle.svg");
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  width: 129px;
  height: 129px;
  right: -65px;
}

.header__img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header__list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.header__title {
  @include heading-m();
  text-align: center;
  margin-bottom: 20px;
}

// hero

.hero {
  @include tablet() {
    width: 445px;
  }
}

.hero__h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  letter-spacing: -1.14px;
  margin-bottom: 24px;
  @include tablet() {
    text-align: left;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -2.05px;
    margin-bottom: 60px;
  }
}

.hero__p {
  font-size: 16px;
  color: var(--clr-lightwhite);
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
  @include tablet() {
    text-align: left;
    @include body-l();
    margin-bottom: 34px;
  }
}

.hero__br {
  display: none;
  @include tablet() {
    display: block;
  }
}

.hero__cta-container {
  display: flex;
  justify-content: center;

  @include tablet() {
    justify-content: start;
  }
}
