@use "../abstracts" as *;

.header {
  width: 174px;
  margin: 0 auto;
  padding-top: 20px;
  padding-inline: 10px;
}

.header__list {
  display: flex;
  justify-content: space-between;
}

.header__title {
  @include heading-m();
  text-align: center;
}
